SwinsianDiscord.xcodeproj/project.xcworkspace/xcuserdata/tedezarize.xcuserdatad/UserInterfaceState.xcuserstate
SwinsianDiscord.xcodeproj/xcuserdata/tedezarize.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
SwinsianDiscord.xcodeproj/xcuserdata/tedezarize.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store